
@define-color background rgba(43, 43, 43, 0.85);

* {
    border: none;
    border-radius: 0;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

window#waybar.default {
    background: rgba(43, 43, 43, 0.85); /* Dark blur background */
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#workspaces {
    background-color: @background;
    border-radius: 24px 0 0 24px;
    margin-left: 16px;
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    color: rgba(255, 255, 255, 0.4);
    border: none;
    font-size: 16px;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

#mpris {
    background-image: linear-gradient(to right, rgba(30, 102, 245, 0.6), rgba(114, 135, 253, 0.6));
    padding: 0 12px;
    border-radius: 0 24px 24px 0;
}

#window {
    background-color: @background;
    border-radius: 24px;
    margin-left: 10px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}

#tray {
    background-color: @background;
    border-radius: 24px 0 0 24px;
    padding: 0 12px;
    margin: 0 8px;
}

#network, #pulseaudio, #backlight, #battery {
    background-color: @background;
}

#clock {
    background-color: @background;
    border-radius: 0 24px 24px 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    font-family: "Material Symbols Outlined", "Inter", sans-serif;
    font-size: 24px;
    padding: 0 8px;
    color: #ffffff;
}

#network {
    border-radius: 24px 0 0 24px;
    padding: 0 0 0 12px;
    font-size: 16px;
    font-weight: bold;
}

#backlight {
    font-size: 16px;
    font-weight: bold;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B; /* Greenish for charging */
    border-radius: 4px;
    padding: 0 6px;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 0 12px;
    margin-right: 16px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
