:root {
    --color-dark-primary: #313244;
    --color-dark-secondary: #181825;
    --color-white: #b4befe;
    --color-active: #b4befe;
    --color-urgent: #f38ba8;

    --margin-lg: 1em;
    --margin-sm: 0.5em;
    --radius-full: 999px;
    --radius-sm: 6px;
    --font-sm: 10px;
    --font-md: 11px;
    --font-lg: 24px;
}

/* Global Reset */
* {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-image: none;
    font-family: "Hack-ZeroSlash";
    font-size: var(--font-md);
    font-weight: bold;
}

.background {
    background-color: transparent;
}

/* =======================
   Bar Containers
   ======================= */
#start,
#center,
#end {
    background-color: var(--color-dark-secondary);
    padding: 0 0.75em;
    border: 1px solid var(--color-dark-primary);
    border-radius: var(--radius-full);
}

/* Remove border from the start menu icon itself */
#start > menu {
    border: none;
    background: transparent;
    padding: 0;
}

/* Widgets */
box,
button,
label {
    background: transparent;
    color: var(--color-white);
    font-weight: bold;
}
button {
    padding: 0 var(--margin-sm);
}
button:hover,
button:active {
    background-color: var(--color-dark-primary);
    border-radius: var(--radius-full);
}

/* Popovers & menus */
popover,
popover contents,
calendar {
    background-color: var(--color-dark-secondary);
    border: 1px solid var(--color-dark-primary);
    border-radius: var(--radius-sm);
    font-weight: bold;
}

/* Workspaces */
.workspaces .item.visible {
    box-shadow: inset 0 -1px var(--color-white);
}
.workspaces .item.focused {
    box-shadow: inset 0 -1px var(--color-active);
}
.workspaces .item.urgent {
    box-shadow: inset 0 -1px var(--color-urgent);
}

.volume {
    margin-top: 1px;
}

/* Volume popup */
.popup-volume {
    padding: 2px 4px;
    font-size: var(--font-sm);
    border-radius: var(--radius-sm);
}
.popup-volume .device-box .slider slider,
.popup-volume .apps-box .slider slider {
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
}
.popup-volume .device-box scale trough,
.popup-volume .apps-box scale trough {
    min-height: 5px;
}

.clock {
    margin-top: 1px;
}